header {
  background: #ce1126;

  .main-button {
    display: none;
  }

  display: flex;

  .logo {
    width: em(45px);
    max-height: em(42px);

    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
  }

  .icons {
    margin: 0 auto;

    button {
      width: em(55px);
      height: em(55px);
      padding: 0;
      margin: 0;
      border: 0;
    }
  }

  nav {
    position: relative;
    z-index: 2002;
    display: flex;
    width: 100%;
    padding: em(10px);
    background: #ce1126;

    &.menu {
      button {
        margin-right: em(10px);
        background: #fff;
        border-radius: em(6px);
        transition: all 0.3s ease-in-out;

        svg {
          fill: #003263;
        }

        &:last-child {
          margin-right: 0;
        }

        &.active {
          background: #27272a;

          svg {
            fill: #fff;
          }
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        margin-left: auto;
      }
    }

    &.players,
    &.options,
    &.pitches,
    &.info {
      position: fixed;
      top: -100vh;
      right: 0;
      z-index: 2001;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      max-width: em(768px);
      //height: 100%;
      max-height: 60vh;
      background: rgba(#fff, 0.8);
      padding: em(12px);
      overflow-y: auto;
      box-shadow: 0 0 20px #000;
      transition: top 0.3s ease-in-out;

      &.active {
        top: em(64px);
      }

      li {
        button,
        label {
          width: 100%;
          padding: em(10px);
          text-transform: uppercase;
          border-radius: em(4px);
          border: 1px solid #333;
          font-size: rem(16px);
          text-align: center;
        }

        label {
          position: relative;
          z-index: 0;
          display: block;
          align-items: center;
          padding: em(10px);
          transition: all 0.3s ease-in-out;
          background: #c5c5c5;
        }

        input[type="checkbox"] {
          position: absolute;
          top: 0;
          left: 1;
          z-index: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          margin: 0;
          padding: 0;

          &:checked + label {
            background: #27272a;
            color: #fff;
          }
        }

        &.active {
          button {
            background: #27272a;
            color: #fff;
          }
        }
      }
    }

    &.info {
      height: 100%;
      min-height: em(240px);
      padding: 0;
    }

    &.options,
    &.pitches {
      li {
        position: relative;
      }

      ul ul {
        margin-top: em(10px);
      }
    }

    ul {
      flex-direction: column;

      ul {
        padding-left: em(20px);
      }
    }
  }

  .loading {
    top: 0;
    z-index: 2000;
    opacity: 0;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;

    &.active {
      max-height: 1000vh;
      opacity: 0.5;
    }
  }
}
