@import "functions";

html,
body {
  padding: 0;
  margin: 0;
  font-size: rem(16px);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #fff;
  min-height: -webkit-fill-available;
  height: 100vh;
  max-height: 100%;

  &.active {
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

h2,
p,
ul,
li {
  margin: 0 0 em(4px) 0;
}

h1 {
  display: block;
  text-transform: uppercase;
  margin: 0 em(10px) 0 0;
  font-size: rem(12px);
  color: #fff;
}

h2 {
  font-size: rem(18px);
}

.hide {
  display: none !important;
  position: fixed;
  left: -10000vw;
  top: -10000vh;
}

.columns {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  li {
    width: 70%;

    &:nth-child(1) {
      width: 30%;
      font-weight: bold;
      text-align: right;
      padding-right: em(2px);
    }

    &:nth-child(2n + 1) {
      width: 30%;
      font-weight: bold;
      text-align: right;
    }
  }

  &.two {
    li,
    li:nth-child(n) {
      width: 50%;
    }
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #003263;
  z-index: 9999;

  svg {
    width: 100%;
    height: auto;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    padding: em(30px);
    border-radius: em(6px);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: em(200px);

    .anim {
      width: 10vw;
      height: 10vw;
      max-width: em(60px);
      max-height: em(60px);
      margin-top: em(20px);
      animation: spin 1000ms linear infinite;
    }

    @keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(-360deg);
      }
    }
  }
}
