@import "functions";

header {
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  button {
    width: em(55px);
    height: em(55px);
    padding: 0;
    margin: 0;
    border: 0;
  }

  nav {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2002;
    display: flex;
    justify-content: flex-end;
    background: chartreuse;
    width: 100%;
    padding: em(10px);

    &.menu {
      button {
        margin-right: em(10px);
        background: #fff;
        transition: all 0.3s ease-in-out;

        &:last-child {
          margin-right: 0;
        }

        &.active {
          background: red;
        }
      }
    }

    &.players,
    &.options,
    &.pitches {
      flex-direction: column;
      justify-content: flex-start;
      //position: fixed;
      top: 0;
      left: 100vw;
      width: 100%;
      height: 100vh;
      // ----------------------------> MUST CHANGE
      background: orange;
      padding: em(20px) em(20px) em(80px) em(20px);
      overflow-y: auto;
      transition: left 0.3s ease-in-out;
      z-index: 2001;

      &.active {
        left: 0;
      }
    }

    &.options,
    &.pitches {
      li {
        margin-top: em(10px);
      }

      ul ul {
        margin-top: em(10px);
      }

      label {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: em(10px);
        transition: all 0.3s ease-in-out;
        background: #fff;
      }

      input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: transparent;
        border: none;
        margin: 0;
        padding: 0;

        &:checked + label {
          font-weight: 700;
          background: red;
        }
      }
    }

    ul {
      flex-direction: column;

      ul {
        padding-left: em(20px);
      }

      li {
        button {
          width: 100%;
          padding: em(10px);
          border: 0;
        }

        &.active {
          button {
            background: red;
          }
        }
      }
    }
  }
}
