header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
header button {
  width: 2.75em;
  height: 2.75em;
  padding: 0;
  margin: 0;
  border: 0;
}
header nav {
  position: fixed;
  top: 0.625em;
  right: 0.625em;
  z-index: 2002;
}
header nav.menu button {
  margin-right: 0.625em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header nav.menu button:last-child {
  margin-right: 0;
}
header nav.menu button.active {
  background: red;
}
header nav.players, header nav.options, header nav.pitches {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 100vw;
  width: 100%;
  height: 100vh;
  background: orange;
  padding: 4.375em 1.25em;
  overflow-y: auto;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  z-index: 2001;
}
header nav.players.active, header nav.options.active, header nav.pitches.active {
  left: 0;
}
header nav.options li, header nav.pitches li {
  margin-top: 0.625em;
}
header nav.options ul ul, header nav.pitches ul ul {
  margin-top: 0.625em;
}
header nav.options label, header nav.pitches label {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #fff;
}
header nav.options input[type=checkbox], header nav.pitches input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
header nav.options input[type=checkbox]:checked + label, header nav.pitches input[type=checkbox]:checked + label {
  font-weight: 700;
  background: red;
}
header nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header nav ul ul {
  padding-left: 1.25em;
}
header nav ul li button {
  width: 100%;
  padding: 0.625em;
  border: 0;
}
header nav ul li.active button {
  background: red;
}