form button {
  width: 14.2857142857%;
  height: 50px;
}
form button.all {
  background: black;
}
form button.sn {
  background: red;
}
form button.ch {
  background: yellow;
}
form button.ct {
  background: blue;
}
form button.sl {
  background: orange;
}
form button.fb {
  background: green;
}
form button.cb {
  background: pink;
}