@import "functions";

.pitch-list-container {
  max-height: em(400px);
  overflow-y: auto;
  //scroll-behavior: smooth;

  > ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;

    > li {
      margin: 0;
      max-height: 0;
      overflow: hidden;

      ul {
        padding: em(10px);
        margin-bottom: em(10px);
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &.active {
        max-height: 1000px;
      }

      &.selected {
        background: rgb(218, 218, 218);
      }
    }
  }
}
