.pitch-plot-container svg {
  background: #daf1f8;
  width: 100%;
  height: 100%;
}
.pitch-plot-container svg circle {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  stroke: #fff;
  stroke-width: 0.005;
  r: 0;
}
.pitch-plot-container svg circle.active {
  opacity: 1;
  r: 0.125;
}
.pitch-plot-container svg circle.selected {
  opacity: 1;
  stroke: #000;
  stroke-width: 0.05;
}
.pitch-plot-container svg rect {
  stroke: #000;
}
.pitch-plot-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.pitch-plot-container ul li {
  padding: 0;
  margin: 0;
  width: calc(100% / 6);
}
.pitch-plot-container ul li.all label {
  background: black;
}
.pitch-plot-container ul li.sn label {
  background: #ff7f0e;
}
.pitch-plot-container ul li.ch label {
  background: #1f77b4;
}
.pitch-plot-container ul li.ct label {
  background: #8c564b;
}
.pitch-plot-container ul li.sl label {
  background: #e377c2;
}
.pitch-plot-container ul li.fb label {
  background: #d62728;
}
.pitch-plot-container ul li.cb label {
  background: #9467bd;
}
.pitch-plot-container form li {
  position: relative;
}
.pitch-plot-container form input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.pitch-plot-container form input[type=checkbox]:checked + label {
  font-weight: 700;
  border: 3px solid #000;
}
.pitch-plot-container form label {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  border: 3px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pitch-plot-container .pitch-info {
  padding: 1.25em 1.25em 6.25em 1.25em;
}