@import "functions";

.player-page {
  position: relative;
  display: flex;

  .loading {
  }

  .player-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 66px);
    width: 100%;

    > * {
      //min-height: 50%;
      border-bottom: 2px solid #333;
    }

    .player-banner {
      min-height: em(100px);
      flex-shrink: 1;
    }

    &.children-3 {
      .pitch-plot-container,
      .pitch-list-container {
        height: 33%;
      }
    }

    &.children-2 {
      .pitch-plot-container,
      .pitch-list-container {
        height: 50%;
      }
    }
  }
}
