@import "functions";

.player-banner {
  display: flex;
  // flex-direction: column;
  background: rgb(185, 185, 185);
  position: relative;

  .player-info {
    position: relative;
    z-index: 1;
    padding: em(6px) em(10px);
    flex-basis: 100%;
    //text-shadow: 0 0 10px rgba(#fff, 0.6);
    //text-transform: uppercase;
    background: #fff;
    font-size: em(12px);

    h2 {
      font-size: em(16px);
      padding: em(6px) em(10px);
      //background: #e2e2e2;
      background: rgba(#003263, 0.2);
    }
  }

  .player-img {
    position: relative;
    flex-basis: 100%;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
    }
  }
}
