.player-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.player-page .player-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 66px);
  width: 100%;
}
.player-page .player-container .player-banner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.player-page .player-container .pitch-plot-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}