@import "functions";

.player-page {
  overflow: hidden;
  height: 100vh;
  max-height: 100%;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 65px 1fr;
  grid-template-areas:
    "header"
    "player-container";

  header {
    grid-area: header;
  }

  .player-container {
    grid-area: player-container;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 0 1fr minmax(em(200px), em(400px));
    grid-template-areas:
      "player-banner"
      "playpitch-plot-container"
      "pitch-list-container";
    gap: 0;

    &.children-2 {
      grid-template-rows: 1fr minmax(em(200px), em(400px));
      grid-template-areas:
        "playpitch-plot-container"
        "pitch-list-container";
    }

    .player-banner {
      grid-area: player-banner;
    }

    .pitch-plot-container {
      grid-area: playpitch-plot-container;
    }

    .pitch-list-container {
      grid-area: pitch-list-container;
    }

    > * {
      border-bottom: 2px solid #333;

      &:last-child {
        border: 0;
      }
    }

    .player-banner {
      overflow: hidden;
    }
  }
}
