@import "functions";

.player-page {
  overflow: hidden;

  .player-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: em(180px) minmax(200px, 50%) 1fr em(65px);
    gap: 0;
    height: 100vh;
    max-height: 100vh;
    width: 100%;

    &.children-3 {
      grid-template-rows: minmax(200px, 50%) minmax(200px, 50%) em(65px);
    }

    > * {
      border-bottom: 2px solid #333;

      &:last-child {
        border: 0;
      }
    }

    .player-banner {
      overflow: hidden;
    }
  }
}
